p {
    background-color: wheat;
   font-size: 20px; 
}
h1 {
    font-family: fantasy;
    text-align: center;

}
a{
    background-color: cornflowerblue;
    font-weight: bolder;
}
nav {
    text-align: left;
}
body {
    border: 3px;
    border: blueviolet;
    border-style: dashed;
    padding: 20px;
    margin: 50px;
    background-color: teal;
}
#p1 {
    background-color: yellowgreen;
}
.pTitle {
    font-family: cursive;
    background-color: lightgoldenrodyellow;
}

table{
  font: bold
  
}